body{
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(earphone1.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.Log{
    width: 600px;
    padding: 4% 0 0;
    margin: auto;

}
.Form{
    position: relative;
    z-index: 1;
    background:linear-gradient(rgba(0, 0, 400, 2), rgba(100,0,400,18), rgba(600, 6, 100, 3));
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
}
.Form input{
    font-family: "Roboto", sans-serif;
    outline: aqua;
    background: khaki;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
.Form button{
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: linear-gradient(rgba(0,0,400,2),rgba(0,0,400,2));
    width: 100%;
    border: 0;
    padding: 15px;
    color: aliceblue;
    cursor: pointer;
}

.Form button:hover,.form button:active{
    background: darkblue;
}

.Mess{
    width: 600px;
    padding: 4% 0 0;
    margin: auto;

}

.Med h3 {
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}